header{
    overflow:auto;
    padding:1em;
    background-color: #002e5e;
}

#Norway{
    margin-left: 4vw;
}

body{
    margin:0;
    font-family: Roboto;
}
nav{
    background-color: #ededed;
    overflow:auto;
    font-size: 1.25em;
}
ul{
    margin:0;
}
nav ul{
    list-style-type: none;
    margin-left: 2vw;
}
nav li{
    float:left;
    padding: .7rem 1rem;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: #d4d3d3;
}
footer{
    background-color: #ededed;
}
small{
    padding: 0.5em;
    margin-left: 4vw;
}
#actions{
    background-color: #002e5e;
}
#actions ul{
    list-style-type: none;
    margin:0 1vw 0.5vw 1vw;
    padding: 20px;
    line-height: 3;
}
#actions li{
    padding-left: 1vw;
}
#actions li:hover{
    background-color: #011b38;
    border-left: 0.15em solid white;
}
#actions a{
    text-decoration: none;
}
main img{
    width:45%;
    padding:2%;
}
.underlist{
    list-style-type: none;
    padding-left: 10px;
}
.underlist li{
    float: left;
    vertical-align: middle;
}
.triplist{
    padding:0.5em 0;
    color:grey;
}
.triplist a:hover{
    color: black;
}
.triplist a{
    text-decoration: none;
    color: grey;
}
.covid{
    width: 45%;
    float: left;
    padding: 2.5% 1em 1.25% 1em;
}
.covid ul{
    list-style-type: none;
}
.covid li{
    line-height: 2em;
}
.covid a{
    text-decoration: none;
    color: black;
}
.covid a:hover{
    color:brown;
}